<div class="panel panel-default">
    <div class="panel-heading">Movies Search</div>
    <div class="panel-body">
        <form>
            <div class="row">
                  <div class="col-md-4 form-group">
                    <label>Title</label>
                    <input type="email" class="form-control input-sm" placeholder="Title">
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Code</label>
                    <input type="password" class="form-control input-sm" placeholder="Code">
                  </div>
                  <div class="col-md-12">
                      <button type="submit" class="btn btn-primary">Search</button>
                      <button type="submit" class="btn btn-default">Clear</button>
                  </div>
            </div>
        </form>
    </div>
</div>

<p>
    <button type="button" class="btn btn-success btn-lg">New Movie</button>
</p>

<table class="table table-striped">
    <thead>
        <th>Code</th>
        <th>Title</th>
        <th></th>
    </thead>
    <tbody>
        <tr ng-repeat="movie in movies">
            <td>{{ movie.code }}</td>
            <td>{{ movie.title }}</td>
            <td align="right">
                <div class="btn-group">
                    <a ui-sref="movies.edit({ movieCode: movie.code })" class="btn btn-primary btn-sm">Edit</a>
                    <a class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Copy</a></li>
                        <li><a href="#">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
